.react-tabs {
  -webkit-tap-highlight-color: transparent;
  color: #707070;
  font-size: 12;
}

.react-tabs__tab-list {
  color: #707070;
  border-bottom: 1px solid #707070;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  color: #707070;
  display: inline-block;
  /* border: 1px solid black; */
  /* border-bottom: none; */
  /* border-left: 1px solid black; */
  /* bottom: -0.9vw; */
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  color: black;
  display: inline-block;
  /* font-size: 12; */
  text-decoration: none;
  background-image: linear-gradient(to right, #f3bb03, #f3bb03);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 5px;
}

.react-tabs__tab--disabled {
  color: #707070;
  cursor: default;
}

.react-tabs__tab:focus {
  color: #707070;
  outline: none;
}

.react-tabs__tab:focus:after {
  color: #707070;
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  color: #707070;
  display: none;
}

.react-tabs__tab-panel--selected {
  color: #707070;
  display: block;
}
