.root {
  height: 50px;
  width: 325px;
  background-color: #514f48;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: 50px;
  border-radius: 200px;
  position: relative;
}

.root:hover {
    background-color: #F3BB03;
  }

.plusButton {
  margin-left: 5px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 40px;
  height: 40px;
  background: linear-gradient(#707070, #707070),
    linear-gradient(#707070, #707070), white;
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.text {
  margin-left: 60px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  color: white;
  font-size: small;
}
