.root {
  top: 0;
  width: 100%;
  background-color: white;
  margin: 0;
  position: relative;
  z-index: 100;
}

.appBar {
  background-color: white;
  /* height: 50%; */
  /* max-height: 50px; */
  /* vertical-align: middle; */
}

.menuButton {
  margin-right: 2;
}

.rightIcons {
  flex-grow: 1;
}

.navbarLogo {
  display: flex;
  margin-left: 45vw;
  /* margin-right: -100px; */
  /* width: ; */
  height: 47px;
  /* position: relative; */
  /* width: 19%; */
  /* height: 19%; */
  object-fit: contain;
  /* position: fixed; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, 0); */
}

.title {
  flex-grow: 1;
  text-align: "center";
}

.profilePic {
  width: 50%;
  height: 50%;
}

.dropdownBtn {
  background-color: transparent;
  color: black;
  border-width: 0px;
  font-size: 80%;
}

@media only screen and (max-width: 700px) {
  .navbarLogo {
    margin-left: 30vw;
  }
}
