.root {
  top: 0;
  width: 100%;
  background-color: white;
  margin: 0;
  position: relative;
  z-index: 100;
}

.appbar {
  background-color: white;
}

.menuButton {
  margin-right: 2;
}

.rightIcons {
  flex-grow: 1;
}

.navbarLogo {
  display: flex;
  margin-left: auto;
}

.title {
  flex-grow: 1;
  text-align: "center";
}

.profilePic {
  width: 30px;
  height: 30px;
}

.dropdownBtn {
  background-color: transparent;
  color: black;
  border-width: 0px;
}
