.root {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: transparent;
  border-radius: 20px;
}

.root2 {
  margin-top: 30px;
}

.refText {
  align-items: center;
  margin-left: 10px;
  display: inline;
  font-weight: bold;
}

.col1 {
  margin-bottom: 10px;
}

.trophy {
  margin-top: 0px;
  width: 40px;
  height: 40px;
}

.showInAnalytics {
  background-color: #aeb0e9;
  height: 35px;
  width: 170px;
  border-radius: 50px;
  font-size: 13px;
  color: white;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 0px;
}

.analyticsBtnImg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.downloadDivBtn {
  display: flex;
  margin-top: 0px;
  margin-bottom: -10px;
  background-color: transparent;
  border-width: 0px;
}

.downloadImg {
  width: 25px;
  height: 25px;
}

.downloadText {
  font-size: smaller;
}

.tableContainer {
  margin-top: 25px;
  box-shadow: -5px 0 8px -5px grey, 5px 0 8px -5px grey;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
