.root {
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: transparent;
  border-radius: 20px;
}

.bannerContainer1 {
  padding: 0;
  height: 180px;
  width: 350px;
  background-color: #8dd8a8;
  border-radius: 15px;
}

.text {
  color: white;
  margin-left: 20px;
  padding-top: 20px;
  font-size: 20px;
}
.text p {
  font-size: 15px;
  margin: 0;
}

.viewBtn {
  /* position: relative; */
  /* right: 0; */
  
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  background-color: white;
  border-radius: 50px;
  border-width: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: small;
  font-weight: bold;
  box-shadow: 1px 1px 20px 0.5px grey;

}

.bannerContainer {
  padding: 0;
}

.root2 {
  /* display: flex; */
  margin-top: 30px;
}

.refText {
  /* position: relative; */
  /* padding-top: 50px; */
  /* margin-top: 50px; */
  /* text-align: center; */
  /* height: 50px; */
  /* line-height: 50px; */
  align-items: center;
  margin-left: 10px;
  display: inline;
  font-weight: bold;
}

.col1 {
  /* background-color: grey; */
  /* display: inline-block; */
  margin-bottom: 10px;
}

.col2 {
  /* background-color: blanchedalmond; */
  /* display: inline-block; */
}

.col3 {
  /* display: inline-block; */
  /* float: end; */
  /* pull */
  /* float: right; */
  /* right: 0; */
  /* text-align:right; */
  /* margin:0px auto 0px auto; */
  /* background-color: skyblue; */
}

.trophy {
  margin-top: 0px;
  width: 40px;
  height: 40px;
}

.showInAnalytics {
  background-color: #aeb0e9;
  height: 30px;
  width: 150px;
  /* margin-bottom: 30px; */
  border-radius: 50px;
  font-size: 13px;
  color: white;
  text-align: center;
  padding: 5px 0;
  /* position: inherit; */
}

.downloadDiv {
  /* display: inline; */
  display: flex;
  /* position: relative; */
  /* left: 0; */
  /* margin-right: auto; */
  margin-top: 0px;
  margin-bottom: -10px;
  /* margin:0px auto 0px auto; */
}

.downloadImg {
  /* margin-top: 30px; */
  width: 25px;
  height: 25px;
}

.downloadText {
  /* margin-top: 31px; */
  font-size: smaller;
}

.tableContainer {
  margin-top: 25px;
  box-shadow: -5px 0 8px -5px grey, 5px 0 8px -5px grey;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
