.bannerContainer {
  margin-top: 65px;
}

.banner1 {
  width: 100%;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f2f2f2;
  border-radius: 20px;
  position: relative;
  justify-content: space-between;
}

.imageContainer1 {
  width: 250px;
  height: 250px;
  transform: translate(0, -120px);
  /* overflow: visible; */
  margin-bottom: -120px;
  /* margin-right: 100px; */
  margin-left: auto;
  margin-right: auto;
  /* background-color: tomato; */
}

.bannerText {
  display: inline-block;
  margin-top: 30px;
  /* background-color: red; */
}

.bannerHeading1 {
  font-weight: bold;
  font-size: 20px;
}

.bannerText1 {
  font-weight: 500;
  font-size: 17px;
}

.imageDiv {
  /* width: 100px; */
  /* height: 100px; */
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  /* margin-left: auto; */
  /* margin-right: auto; */
}
