.tableHeadLeft {
  border-top-left-radius: 25px;
}

.tableHeadRight {
  border-top-right-radius: 25px;
}

.tableContainer {
  margin-top: 25px;
  box-shadow: -5px 0 8px -5px grey, 5px 0 8px -5px grey;
  border-radius: 30px;
  overflow: hidden;
}


